{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Ecom.</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'home' %}">ECom.</a>
      <div class="w-[55%] flex items-center justify-between text-xl">
        <div class="categorybtn flex cursor-pointer">
          <p>Categories</p>
          <span class="material-symbols-outlined pt-1" id="arrow">
            keyboard_arrow_down
          </span>
        </div>
        <div id="navbar">
          {% if user.ID != None %}
            <a class="material-symbols-outlined w-[4rem] h-[2rem] text-center py-1 mx-1 text-black bg-white rounded-full" href="{% url 'wishlist' %}"><span class="material-symbols-outlined"> favorite </span></a>
            <a class="material-symbols-outlined w-[4rem] h-[2rem] text-center py-1 mx-1 text-black bg-white rounded-full" href="{% url 'cart' %}"><span class="material-symbols-outlined"> shopping_cart </span></a>
          {% else %}
            <a href="#" class="p-1 bg-yellow-500 cursor-pointer">Log in</a>
          {% endif %}
          </div>
      </div>
    <div class="categoryList text-xl absolute top-[100%] left-0 pt-12 px-40 w-full h-[0rem] opacity-0 overflow-hidden bg-[rgba(40,40,40,.95)] flex item-start justify-between">
      <a href="{% url 'category' 'Shoes' %}" class="h-[2rem]">Shoes</a>
      <a href="{% url 'category' 'Electronics' %}" class="h-[2rem]">Electronics</a>
      <a href="{% url 'category' 'Cosmetics' %}" class="h-[2rem]">Cosmetics</a>
      <a href="{% url 'category' 'Watch' %}" class="h-[2rem]">Watch</a>
      <a href="{% url 'category' 'Clothing Accessories' %}" class="h-[2rem]">Clothing Accessories</a>
    </div>
    </nav>
    {% block content %} {% endblock content %}
    <script src="{% static 'script/script.js' %}"></script>
  </body>
</html>
