{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Checkout</title>
</head>

<body>
    <div class="relative w-[100vw] h-[100vh] bg-[#121212] flex flex-col item-start justify-start gap-2 px-4">
        <div class="w-full flex">
            <div class="left w-1/2 text-white p-4 pt-8 text-xl">
                <form class="w-full flex flex-col items-start justify-start gap-2" action="{% url 'checkout' user.id %}" method="POST">
                    {% csrf_token %}
                    <div class="PayPal w-full bg-[rgb(40,40,40)] rounded-lg p-4 flex items-center justify-between">
                        <label for="PayPal" class="w-full cursor-pointer w-full">PayPal</label>
                        <input type="radio" name="payment" id="PayPal" value="PayPal">
                    </div>
                    <div class="Card w-full bg-[rgb(40,40,40)] rounded-lg p-4 flex items-center justify-between">
                        <label for="Card" class="w-full cursor-pointer w-full">Card</label>
                        <input type="radio" name="payment" id="Card" value="Card">
                    </div>
                    <div class="Cash w-full bg-[rgb(40,40,40)] rounded-lg p-4 flex items-center justify-between">
                        <label for="Cash" class="w-full cursor-pointer w-full">Cash</label>
                        <input type="radio" name="payment" id="Cash" value="Cash">
                    </div>
                    <div class="w-full flex items-center justify-between">
                        <a href="{% url 'cart' user.id %}" class="w-[35%] h-full py-2 bg-blue-500 text-center text-xl rounded-lg">Go back to cart</a>
                        <button class="w-[35%] h-full py-2 bg-green-500 text-center text-xl rounded-lg">Submit</button>
                    </div>
                </form>
            </div>
            <div class="right w-1/2 bg-red text-white pr-4">
                <div class="Info bg-[rgb(40,40,40)] text-center p-8 px-3 mt-8 rounded-lg">
                    <div class="flex flex-col">
                        <div class="w-full h-8 flex">
                            <div class="w-1/2 h-full border-l-2 border-y-2">
                                <h1 class="text-xl">Total number of items in cart</h1>
                            </div>
                            <div class="w-1/2 h-full border-x-2 border-y-2">
                                <h1 class="text-xl">Total Price</h1>
                            </div>
                        </div>
                        <div class="flex justify-between">
                            <div class="w-1/2 h-full text-center text-2xl pt-5">{{ order.get_cart_items }}</div>
                            <div class="w-1/2 h-full text-center text-2xl pt-5">
                                ₹{{ order.get_cart_total }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>